In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
train_url = "https://github.com/fenago/tf/blob/main/Chapter5-Classification_Models/datasets/MNIST_train.csv?raw=true"


X_train = pd.read_csv(train_url)
X_train.drop(columns='Unnamed: 0', inplace=True)
X_train.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
y_train = X_train.pop('label')

In [15]:
test_url = "https://github.com/fenago/tf/blob/main/Chapter5-Classification_Models/datasets/MNIST_test.csv?raw=true"


X_test = pd.read_csv(test_url)
X_test.drop(columns='Unnamed: 0', inplace=True)
X_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [16]:
y_test = X_test.pop('label')

In [17]:
import tensorflow as tf

In [18]:
tf.random.set_seed(8)

In [19]:
model = tf.keras.Sequential()

In [20]:
from tensorflow.keras.layers import Dense

In [21]:
fc1 = Dense(512, input_shape=(784,), activation='relu')

In [22]:
fc2 = Dense(512, activation='relu')

In [23]:
fc3 = Dense(128, activation='relu')

In [24]:
fc4 = Dense(128, activation='relu')

In [25]:
fc5 = Dense(10, activation='softmax')

In [26]:
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(fc4)
model.add(fc5)

In [27]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               401920
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dense_2 (Dense)              (None, 128)               65664
_________________________________________________________________
dense_3 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_4 (Dense)              (None, 10)                1290
=================================================================
Total params: 748,042
Trainable params: 748,042
Non-trainable params: 0
_________________________________________________________________

In [28]:
loss = tf.keras.losses.SparseCategoricalCrossentropy()

In [29]:
optimizer = tf.keras.optimizers.Adam(0.001)

In [30]:
model.compile(optimizer=optimizer, loss=loss, \
                  metrics=['accuracy'])

In [31]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
394/394 [==============================] - 2s 2ms/step - loss: 1.8095 - accuracy: 0.8297
Epoch 2/5
394/394 [==============================] - 1s 2ms/step - loss: 0.2761 - accuracy: 0.9261
Epoch 3/5
394/394 [==============================] - 1s 2ms/step - loss: 0.1914 - accuracy: 0.9449
Epoch 4/5
394/394 [==============================] - 1s 2ms/step - loss: 0.1724 - accuracy: 0.9510
Epoch 5/5
394/394 [==============================] - 1s 2ms/step - loss: 0.1542 - accuracy: 0.9571

In [32]:
model.evaluate(X_test, y_test)

394/394 [==============================] - 1s 1ms/step - loss: 0.3385 - accuracy: 0.9276

[0.338489830493927, 0.9276190400123596]